
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	display:flex;
	flex-direction:column;
	align-items:left;
	justify-content:center;
	height:100vh;
	max-width:500px;
	box-shadow: 0px 0px 0px 0.3px
}
.container>div{
	padding:10px;
	width:100%;
}
.container>div>input{
	padding:8px;
}
div>input#submit{
	background-color:green;
	border:none;
	padding: 8px 12px;
	border-radius:5px;
}